* {
  box-sizing: border-box;
}
body,html {
  cursor:default;
  margin: 0;
  height: 100%;
  width:100%;
  min-height: 400px;
  min-width: 320px;
  background-color: rgb(225, 225, 225);
  
}

.main{
position: relative;
background-color: rgb(225, 225, 225);
width: 100%;
height: 100%;
max-height: 100%;
}

.first {
  position: relative;
  height:23px;
  width: 100%;
  background-color: rgb(225, 225, 225);
}

.second {
 position: relative;
 float:right;
 height:96% ;
 width: 30%;
 font-family: 'Segoe UI';
 background-color: rgb(225, 225, 225);
 font-weight:bold;
} 

.third{
 position: relative;
 width:70%;
 height:8%;
 font-family:'Segoe UI';
 background-color: rgb(225, 225, 225);
 }
 
 .fourth {
 position: relative;
 width:70%;
 height:16%;
 font-family:'Segoe UI';
 background-color: rgb(225, 225, 225);
 }
 
.fifth {
position: relative;
float:left;
width:70%;
height:6%;
background-color: rgb(225, 225, 225);
}  

  .sixth {
position: relative;
float:left;
width:70%;
height:66%;
}

.calculator {
  padding: 2px 0 0 10px ;
  font-family: 'Segoe UI';
  font-size: 11px;
  float:left; 
}

.closeitem {
  float: right;
  display: flex;
  height: 21px;
  width: 30px;
  font-family: 'Segoe UI';
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 225, 225);
}
.closeitem:hover {background-color: rgb(210, 210, 210);}
#close:hover {background-color: red;
color: rgb(255, 255, 255);}

.history {
 float:left;
 padding: 5px 10px 0 10px;
 font-size:14px;
  
 }
 
#history {
 text-decoration: underline;
 text-decoration-color: red;
}
 
.noyet {
display: block;
padding: 60px 0 0 10px;
font-size:13px;

}

.menuitem {
 float:left;
 height:22px;
 margin: 3px 0 0 8px;
}

.menuitem:hover {background-color: rgb(210, 210, 210);}

.standard {
 float:left;
 padding: 0 15px 0 10px;
 font-size: 17px;
 height:29px;

}   

.flashicon {
 float: left;
 padding-top: 2px;
}

.flashicon:hover {background-color: rgb(210, 210, 210);}

.timeitem {
 display:none;
}



.zero {
float:right;
font-size: 50px;

 }
   


.five {
width:60%;
height:100%;
background-color: rgb(225, 225, 225);}

.m-buttons{
  float: left;
  display: flex;
  width:78px;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI';
  font-size: 13px;
  font-weight:550;
}

#lastm {display:none;}

#mcr {opacity: 0.4}

.m-buttons:hover { background-color: rgb(210, 210, 210);}
#mcr:hover { background-color: rgb(225, 225, 225);}



.grid-sixth {
height: 100%;
display: grid;
grid-template-columns: auto;
grid-template-rows:  auto ;
grid-template-areas: 
  "numbers"  
}

.grid-container {
grid-area: numbers;
}

 .grid-container {
text-align: center;
margin-top: 3px;
display: grid;
grid-template-columns:  auto auto auto auto auto;
grid-template-rows: 19.5 19.5 19.5 19.5 19.5  ;
gap: 2px;
      
    }

.all {
     display: flex;
     justify-content: center;
     align-items: center;}

.num {background-color: rgb(250, 250, 250);
     font-weight:650;}
.sign {background-color: rgb(235, 235, 235);}
.bluesign {background-color: rgb(235, 235, 235);}

.num:hover { background-color: rgb(210, 210, 210);}
.sign:hover { background-color: rgb(210, 210, 210);}
.bluesign:hover { background-color: rgb(50, 148, 220);
color: rgb(255, 255, 255);}



@media only screen and (max-width: 1024px)  {
 
.grid-container {
 width:100%;     
      }
      
#××× {
display:none;}

.fourth {

 width:70%;
 
 }

.fifth {
width:70%;  
}

.five {
width:100%;
height:100%;
}


.m-buttons{
  width:80px;
  height: 100%;
}

#lastm { 
  display:none;

  }

.grid-container {
 display: grid;      
 grid-template-columns: auto auto auto auto;
 grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5% ;
 height: 64vh; 
 
    }
              
#radic { grid-area: 1 / 2 / 2 / 3; }
#×× { grid-area: 1 / 3 / 2 / 4; }
#×××× { grid-area: 1 / 4 / 2 / 5; }
  }

@media only screen and (max-width: 600px)  {

.fourth {
 width:70%;
 }

.fifth {
width:70%;  
}

.five {
width:100%;
}

.m-buttons{
  width:20%;
  height: 100%;
  }

}

@media only  screen and (max-width: 500px)  {


.second {display: none;}

.fourth {

 width: 100%;
 
 }

.timeitem {
 display:flex;
 float:right;
opacity:0.5;
}


.third{ width:100%;}

.fifth { width:100%;}
.sixth { width:100%;}


.five {
width:100%;
}

.m-buttons{
width:16.66%;
height: 100%;  
}

#lastm { 
  display: flex;
  float: right;
  opacity: 0.4;
  }
#lastm:hover { background-color: rgb(225, 225, 225); 
}

}